html {
    font-size: 16px;
    color: darkgreen;
    a {
        color: darkgreen;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 6rem auto 2rem;
    grid-template-columns: 1fr;
}

header {
    background-color: darkgreen;
    color: gold;
    display: flex;
    justify-content: space-between;

    h1 {
        padding: 0 1rem;
    }

    nav {
        padding: 0 1rem;
        align-content: center;
        ul li {
            display: inline-flex;
            margin: 0 1rem;
        }
    }

    a {
        text-decoration: none;
        color: gold;
    }
}

main {
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;

    #survey-list {
        text-align: center;
    }
    #balance {
        text-align: center;
    }
}

footer {
    background-color: darkgreen;
    color: white;
    display: flex;
    align-items: center;
    
    p {
        padding: 0.5rem;
    }
}