html {
    font-size: 16px;
}

body {
    background-color: rgb(20,20,20);
    color: white;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 10rem auto 2rem;
    grid-template-columns: 1fr;
}