html {
    font-size: 16px;
}

body {
    background-color: black;
    color: white;
    
    height: 100vh;
    margin: 0;
    
    display: grid;
    grid-template-rows: 5rem auto 2.25rem;
}

a {
    color: gold;
}

header {
    border: solid red 1px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        padding: 0 1rem;
    }

    nav {
        ul {
            display: flex;
            list-style: none;

            li {
                margin: 0 1rem;
            }
        }
    }
}

main {
    border: solid green 1px;

    padding: 2rem 3rem;
}

footer {
    border: solid blue 1px;

    display: flex;
    align-items: center;

    p {
        padding: 0.5rem;
    }
}