html {
    font-size: 16px;
}

body {
    background-color: black;
    color: white;
    
    height: 100vh;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    
    display: grid;
    grid-template-rows: 5rem auto 2.25rem;
}

a {
    color: gold;
}

header {
    border: solid red 1px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        padding: 0 1rem;
    }

    nav {
        ul {
            display: flex;
            list-style: none;

            li {
                margin: 0 1rem;
            }
        }
    }
}

main {
    border: solid green 1px;
    padding: 2rem 3rem;

    #info {
        text-align: center;
        width: 100%;
        padding: 2rem 0;
    }

    #categories {
        display: flex;
        justify-content: center;

        .category {
            text-align: center;
            margin: 0 2rem;
            border: solid 0.25rem;
            border-radius: 1rem;
            width: 8rem;
            padding: 0.5rem 2rem;
            background-color: black;
            color: gold;
        }

        .category:hover {
            cursor: pointer;
        }
    }

    #contents {
        padding: 2rem 0;
    }
}

footer {
    border: solid blue 1px;

    display: flex;
    align-items: center;

    p {
        padding: 0.5rem;
    }
}